//====================================================================================================
.footer {
	// .footer__container

	background: $headerBgColor;
	&__container {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	// .footer__body

	&__body {
	}

	// .footer__content

	&__content {
	}

	// .footer__contact

	&__contact {
	}

	// .footer__list

	&__list {
	}

	// .footer__item

	&__item {
		text-align: right;
		font-size: 32px;
		font-style: normal;
		font-weight: normal;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&:first-child {
			font-weight: 700;
		}
	}
}
address {
	font-style: normal;
}
//====================================================================================================
